<div class="push-down">
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
           <h2 class="inline">
            <%= @bookmark.title %>
           </h2>

            <%= link_to edit_bookmark_path(@bookmark), class: "edit", title: @bookmark.title  do %>
              <i class="fa fa-pencil"></i>
              <% end %>

           <%= link_to @bookmark.uri, class: "new", target: "_blank" do %>
            <i class="fa fa-external-link"></i>
            <% end %>
         
        </div>
        <div class="panel-body">
          <%= render @bookmark.tags %>
        </div>
      </div>
    </div>
</div>
</div>