<div class="header-wrapper home-header home-parallax home-fade home-header">
    <div class="header-overlay"></div>
    <div class="header-wrapper-inner">
        <div class="container">

            <div class="welcome-speech">
                <h1>Keep It Simple</h1>
                <p>Everything you need to manage anything.</p>
                <a href="#" class="btn btn-white">
                    Our Works
                </a>
            </div><!-- /.intro -->

        </div><!-- /.container -->

    </div><!-- /.header-wrapper-inner -->
</div>
<!-- /#header -->
