body {
  padding-top: 50px;
  background-color: #327CCB;
}


.inline {
  display: inline-block;
}

.page-header {
    position: relative;
    padding-bottom: 0px;
    &:first-child {
      margin-top: 20px;
  }
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

form {
  max-width: 500px;
}
